 *
{
  padding: 0px;
  margin: 0px;
} 

.flex
{
  display: flex;
}

.flex1
{
display: flex;
background-image: url(1.jpg);
height: 100%;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
padding-bottom: 100px;
position: relative;
animation : bgchange 30s linear infinite;
}
  
@keyframes bgchange {

  0% {
    background-image: url(1.jpg);
  }
  10%
  {
    background-image: url(2.jpg);
  }
20%
  {
    background-image: url(3.jpg);
  }
  30%
  {
    background-image: url(4.jpg);
  }
  40% {
    background-image: url(5.jpg);
  }
  50% {
    background-image: url(6.jpg);
  }
  60%
  {
    background-image: url(2.jpg);
  }
70%
  {
    background-image: url(3.jpg);
  }
  80%
  {
    background-image: url(4.jpg);
  }
  0% {
    background-image: url(1.jpg);
  }
  
}

  .li{
   
      margin-left: 40px;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     padding-top: 10px;
     padding-bottom: 10px;
    
  }

  .list
  {
    padding-top: 30px;
  }

  .li1 a
  {
    margin-left:700px;
    font-size: 15px;
    color:rgb(139, 139, 175);
    text-decoration: none;
    font-weight: bolder;
    
  }

  .li2 a, .li3 a, .li4 a
  {
    margin-left: 30px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bolder;
    color:rgb(139, 139, 175);
  }
 
  .lii
  {
    border-left: .5px solid rgb(137, 118, 172);
    margin-left: 20px;
    padding-top: -20px;
     
  }
  .li5 a
  {
    font-size: 15px;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 10px;
    color:rgb(139, 139, 175);
  }

  .li6 a
  {
    font-size: 15px;
    text-decoration: none;
    font-weight: bolder;
    color:rgb(139, 139, 175);
    margin-left: 30px;
  }
  .verticalline
  {
    color:rgb(109, 127, 177)

  }

  .li1 a:hover, .li2 a:hover, .li3 a:hover, .li4 a:hover
  {
    color:black;
  }
 
   .li5 a:hover, .li6 a:hover
  {
    background-color: rgb(82, 82, 172);
    color:white;
    padding: 15px;
    border-radius: 9px;
  }


  .text1
  {
    font-size: 60px;
    font-weight: bolder;
    color: rgb(131, 131, 184);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-top: 150px;
  }
  .text2
  {
    font-size: 15px;
    color: rgb(131, 131, 184);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 160px;
    font-weight: bold;
  }
  .but1
  {
    margin-left: 50px;
    margin-top: 40px;
    width :100px;
    height: 50px;
    color:black;
    font-weight: bold;
    font-size: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(197, 197, 235);
  }

  .but2
  {
    margin-left: 10px;
    margin-top: 40px;
    width:100px;
    height: 50px;
    color:black;
    font-weight: bold;
    font-size: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(197, 197, 235);
  }

  .but1:hover, .but2:hover
  {
    color:white;
    background-color: rgb(92, 131, 238);
  }
  .flexcontainer
  {
    margin-left: 800px;
  }